---
---

@import "{{ site.theme }}";

h2 {
  color: #802800;
}

h3 {
  color: #602800;
}

body {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  word-spacing: 0.8px;
  color: #101010;
  background-image: url("/assets/images/checker.png");
}

 .utterances {
      max-width: 662px;
 }
