---
---

@import "{{ site.theme }}";

h1 {
  color: #102400;
}

body {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #202020;
  background-image: url("/assets/images/checker.png");
}
