BODY
{
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 15px;
    PADDING-BOTTOM: 15px;
    LINE-HEIGHT: normal;
    PADDING-TOP: 15px;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none;
}
TABLE.header
{
    BACKGROUND-COLOR: #ffffff;
	WIDTH: 860px;
	BORDER-BOTTOM: #ffffff0px solid;
	BORDER-TOP: #ffffff 30px solid;
	BORDER-LEFT: #ffffff 14px solid;
	BORDER-RIGHT: #ffffff 20px solid;
}
P.header
{
    COLOR: black;
    LINE-HEIGHT: 1.2;
    LETTER-SPACING: normal;
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 10px;
    ALIGN: right;
    TEXT-DECORATION: none
}

TABLE.menu
{
    BACKGROUND-COLOR: #111111;
	WIDTH: 860px;
	HEIGHT:50px;
    BORDER-RIGHT: #ffffff 20px solid;
    BORDER-TOP: #ffffff 0px solid;
    BORDER-LEFT: #ffffff 20px solid;
    BORDER-BOTTOM: #ffffff 10px solid;
    PADDING-BOTTOM: 2px;
}
P.menu
{
    COLOR: black;
    LETTER-SPACING: normal;
    PADDING-TOP: 0px;
    PADDING-BOTTOM: 0px;
    ALIGN: left;
    TEXT-DECORATION: none
}
.menu{
	font-family:Helvetica;font-size:10pt
}

.menu:link
{
    COLOR: #a0a0a0;
    TEXT-DECORATION: none;
}
.menu:active
{
    COLOR: salmon;
    TEXT-DECORATION: none;
}
.menu:visited
{
    COLOR: #b0b0b0;
    TEXT-DECORATION: none
}
.menu:hover
{
    COLOR: #ddddff;
    TEXT-DECORATION: none
}


A
{
    COLOR: royalblue;
    TEXT-DECORATION: underline;
}
A:active
{
    COLOR: salmon;
    TEXT-DECORATION: underline;
}
A:visited
{
    COLOR: #404040;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: blue;
    TEXT-DECORATION: none
}

TABLE.mainbody
{
    BACKGROUND-COLOR: #ffffff;
	WIDTH: 860px;
    PADDING-BOTTOM: 20px;
    PADDING-TOP: 20px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
}
TD.Content
{
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    PADDING-LEFT: 40px;
    PADDING-RIGHT: 50px
}
P.figure
{
    COLOR: black;
    LINE-HEIGHT: 1.2;
    LETTER-SPACING: normal;
    PADDING-BOTTOM: 20px;
    ALIGN: left;
    TEXT-DECORATION: none
}
TABLE.topic
{
	WIDTH: 100%;
	MARGIN-BOTTOM: 25px;
	MARGIN-TOP: 10px;
	BORDER-BOTTOM: #e18341 2px dashed;
}

LI
{
    COLOR: black;
    LETTER-SPACING: normal;
    PADDING-BOTTOM: 2px;
    ALIGN: left;
    TEXT-DECORATION: none
}

TABLE.SepThinBottom
{
	WIDTH: 100%;
	PADDING-BOTTOM: 5px;
	BORDER-BOTTOM: #e18341 2px dashed;
}
TABLE.SepThickBottom
{
	WIDTH: 100%;
	PADDING-BOTTOM: 5px;
	BORDER-BOTTOM: #e18341 3px dotted;
}

TABLE.BodyEndBar
{
    BACKGROUND-COLOR: #ffffff;
	WIDTH: 860px;
    BORDER-LEFT: #ffffff 20px solid;
    BORDER-RIGHT: #ffffff 20px solid;
    BORDER-TOP: #ffffff 10px solid;
    BORDER-BOTTOM: #ffffff 10px solid;
    PADDING-TOP: 4px;
}
TD.SepThickTop
{
	WIDTH: 100%;
	HEIGHT: 3px;
    BACKGROUND-COLOR: #000000;
}

TD
{
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 3px;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 4px
}

IMG.SolidBorder
{
    BACKGROUND-COLOR: #ffffff;
	BORDER-RIGHT: royalblue 1px solid;
    BORDER-TOP: royalblue 1px solid;
    BORDER-LEFT: royalblue 1px solid;
    BORDER-BOTTOM: royalblue 1px solid;
}
